@model App.BLL.DTO.GameType

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="mb-3 row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="GameTypeName" class="control-label"></label>
            <input asp-for="GameTypeName" class="form-control" required="required"/>
            <span asp-validation-for="GameTypeName" class="text-danger"></span>
        </div>
    </div>
</div>
<br/>